<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= title %> <%= @media.title %> - <%= @media.artist %></title>
    <link rel="icon" href="http://ja.gravatar.com/userimage/14611836/d5caef2a5366cf647fc8fba3430e5854.png" type="image/png">
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script src=http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
    <![endif]-->
    <link href="<%= @prefix %>/css/pc.css" rel="stylesheet" type= "text/css" media="screen">

    <link href="<%= @prefix %>/css/swf.css" rel="stylesheet" type= "text/css" media="screen">
    
<!--    
    <link rel="stylesheet" href="<%= @prefix %>/jquery.jgrowl.css" type="text/css" media="screen" />
-->
  </head>
  <body>
    <div class="leftbottom">
      <h1 class="logo"><a href='<%= @prefix %>'><%= title %></a>::play</h1>
      <div id="similar"></div>
    </div>

    <div id="vlc1">
      <!--
      <audio  id='audio' width="100%" controls preload autoplay src="<%= @mediaurl %>/file.<%= @media.ext%>"></audio>
      -->
      <audio  id='audio' width="100%" controls preload autoplay src="<%= @mediaurl %>"></audio>
<!--      <audio  id='audio' width="100%" controls preload autoplay src="<%= @media.path.gsub('/var/smb/sdb1','/resource') %>"></audio>-->
    </div>
    <div id="lyric">
    </div>
    
    <div id="main">
      <div id="play"><div id="a_image"></div><div id="s_play">
          Playing
        </div></div>
     
      <section id="m_title">
        <%= "#{@media.title}"  if @media.title.size > 0 %>
      </section>

      <section id="m_artist">
        <%= "#{@media.artist}"  if @media.artist.size > 0 %>
      </section>

      <section id="m_album">
        <%= "#{@media.album}"  if @media.album.size > 0  %>
      </section>

      <section id="m_genre">
        <%= "#{@media.genre}"  if @media.genre.size > 0 %>
      </section>

      <section id="m_tag">
        <%= "#{@media.tag}" if @media.tag.size > 0  %>
      </section>
      <section id="m_path">
        <%= "#{@media.path}\n" %>
      </section>
      <section id="m_url">
        <%= @mediaurl %>
      </section>
    </div>
    
    <script src="<%= @prefix %>/jquery.js"></script>
    <script src="http://cdn.jquerytools.org/1.2.6/jquery.tools.min.js"></script>   
    <script src="<%= @prefix %>/jquery.jgrowl.js"></script>
    <script src="<%= @prefix %>/static/html5media/api/html5media.min.js"></script>
    <script>
      var mid   = "<%= @media._id %>";
      var title = "<%=@media.title%>";
      var artist = "<%=@media.artist%>";
      var album = "<%=@media.album%>";
    </script>
    <script src="<%= @prefix %>/scripts/swf.js"></script>
    
  </body>
</html>


